:root {
    --color-background: #eef6fa;
    --color-offwhite: #eef6fa;
    --color-curry: #bf7c20;
    --color-brown: #683A17;
    --color-lavender: #d7d4e0;
    --color-pink: #d2b5c7;
    --color-rust: #b14910; 
}