@import "./variables.scss";

body {
  margin: 0;
  background-color: $curry;
  color: $brown;
  font-family: "Nunito", sans-serif;
  h1 {
    font-family: "Itim", serif;
    font-size: 42px;
  }
  font-size: 16px;
  a {
    color: $rust;
  }
}

button {
  font-family: "Nunito", sans-serif;
  background-color: $lavender;
  color: $rust;
  border: none;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    background-color: $pink;
  }
}

input,
textarea {
  padding: 10px;
  margin-left: 10px;
  margin-right: 5px;
  background-color: $lighteroffwhite;
  border: 1px solid $curry;
  margin-bottom: 20px;
}
