@import "./variables.scss";

body {
  margin: 0;
  background-color: $offwhite;
  color: $brown;
  font-family: "Nunito", sans-serif;
  h1 {
    font-family: "Itim", serif;
    font-size: 42px;
  }
  font-size: 16px;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: $curry;
  min-height: 50px;
  padding: 20px;
  color: $offwhite;
}
